@page "/veiculos/create"
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager uriHelper
@attribute [Authorize]

<style>

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #veiculo-title
    {
        text-align: center;
        font-size: 1.3em;
        padding-bottom: 5px;
    }

    #veiculo-subtitle
    {
        text-align: center;
        font-size: 0.90em;
        font-weight: 500;
        color: rgb(94, 94, 94);
        padding-bottom: 15px;
    }

</style>


<div id="main-cliente-create">
    <div>
        <h2 id="veiculo-title">Cadastrar Veículo</h2>
        <p id="veiculo-subtitle">Informe os dados abaixo para cadastrar o veículo</p>
    </div>
    <div>
        <FormVeiculo veiculo="@veiculo" OnValidSubmit="@CreateVeiculo" ErrorMessage="@ErrorMessage" ClienteId="@ClienteId" />
    </div>
</div>

